textarea {
    min-height: 38px;
    /* Минимальный размер */
    max-height: 200px;
    /* Максимальный размер (можешь поменять) */
    overflow-y: hidden;
    /* Скрываем прокрутку */
    resize: none;
    /* Запрещаем ручное изменение размера */
}